/*******FONTS*******/
@font-face{font-family:montserrat;src:url(../fonts/montserrat-regular-webfont.woff2) format('woff2'),url(../fonts/montserrat-regular-webfont.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:montserrat;src:url(../fonts/montserrat-black-webfont.woff2) format('woff2'),url(../fonts/montserrat-black-webfont.woff) format('woff');font-weight:800;font-style:normal}
@font-face{font-family:montserrat;src:url(../fonts/montserrat-bold-webfont.woff2) format('woff2'),url(../fonts/montserrat-bold-webfont.woff) format('woff');font-weight:700;font-style:normal}
@font-face{font-family:montserrat;src:url(../fonts/montserrat-light-webfont.woff2) format('woff2'),url(../fonts/montserrat-light-webfont.woff) format('woff');font-weight:300;font-style:normal}
/*******GLOBAL*******/
html{background:#fff}
body{font:400 16px/1.5 'Open Sans', sans-serif;font-weight:400;color:#000}
h1, h2, h3, h4, h5{font-family:montserrat, sans-serif;font-weight:300;}

input{border:none}
img, video{max-width:100%}
select{cursor:pointer}
a:hover, a:focus{text-decoration:none}

/*******USEFUL STUFF*******/
.font-montserratLight{font-family:montserrat, sans-serif;font-weight:300}
.font-montserrat{font-family:montserrat, sans-serif}
.font-opensans{font-family:'Open Sans', sans-serif}
.font-museo{font-family:'museo_sans500', sans-serif}

.block-updateDate{font-style:italic;font-size:13px;color:#333333;text-align:right;display:block;font-weight:400;margin:15px 0}

.icon-block{display:inline-block;padding:15px 20px}
/*******HEADER*******/
.branding-link{display:block;margin:20px}
.branding-link img{max-width:250px}

.img-singapore{margin:10px 0 0;float:right}
.header-fontresizer{font-size:12px;font-weight:500;float:right;margin-right:5px}
.header-fontresizer span{font-family:montserrat, sans-serif}
.fontresize-title{margin-right:10px;color:#333333;}
.fontresize-minus{font-size:10px;color:#aaa;cursor:pointer}
.fontresize-reset{font-size:12px;margin:0 5px;cursor:pointer}
.fontresize-plus{font-size:16px;color:#aaa;cursor:pointer}

.header-submenuWrap{float:right}
.header-submenu{float:right;margin-bottom:10px}
.header-submenu ul{padding:0;margin:0}
.header-submenu li{list-style-type:none;display:inline}
.header-submenu a{display:inline-block;font-size:14px;color:#902b40;margin-left:12px;font-weight:500}

.header-searchWrap input,.header-searchWrap select{background:#eee;border:none;border-radius:5px;height:36px;padding:0 10px;font-size:15px;margin-left:5px}
.header-searchWrap input[type="submit"]{background:#545454;color:#fff;width:80px}

.menu-desktop{background:#972839;margin:10px 0 0 0;height:44px}
.menu-desktop ul{margin:0;padding:0}
.menu-desktop nav > ul > li{display:inline;list-style-type:none;position:relative;padding:10px 0}
.menu-desktop nav > ul > li > a{display:inline-block;color:#fff;font-family:montserrat, sans-serif;font-weight:300;padding:10px 15px}
.menu-desktop nav > ul > li > a:hover{background:#6b0f1d}
.menu-desktop nav > ul > li:hover > ul{display:block}
.menu-desktop a.menu-active{background:#972839}
.menu-desktop li ul{position:absolute;top:42px;left:0;background:#6b0f1d;z-index:1;display:none;width:250px}
.menu-desktop li ul li{list-style-type:none;}
.menu-desktop li ul a{background:#6b0f1d;color:#fff;padding:10px 15px;display:block}
.menu-desktop li ul a:hover{background:#972839}


/*******HOME*******/
.module-homeNews{margin:25px 0}
.module-homeNews--wrap{margin:25px 0}
.module-homeNews--header{background:#eeeeee;font-size:24px;font-family:montserrat, sans-serif;font-weight:300;text-transform:uppercase}
.icon-block--news{color:#545454;font-size:24px;background:#dddddd}
.module-homeNews--header h2{display:inline;padding:0 20px;font-weight:300}
.module-homeNews--block{padding:20px;border-right:1px solid #ddd}
.slider-carouselMain--contentSlide:last-child .module-homeNews--block{border:none}
.module-homeNews--date{font-style:italic;margin-bottom:5px}
.module-homeNews--title{margin:0 0 25px;color:#972839;font-size:18px}

.module-homeLinks{background:#f5f5f5;padding:35px 0}
.block-homeLinks--header{background:#972839;height:65px}
.block-homeLinks--header h2{font-family:montserrat, sans-serif;font-weight:300;font-size:18px;text-transform:uppercase;padding:10px 15px;color:#fff;margin:0;line-height:1.2}
.block-homeLinks--img img{vertical-align:bottom}
.block-homeLinks--content{background:#a83244;padding:10px 15px;min-height:160px}
.block-homeLinks--content ul{margin:0;padding:0}
.block-homeLinks--content ul li{list-style-type:none}
.block-homeLinks--content ul li a{color:#fff;margin-bottom:5px;display:block}

.module-home2ColLinks{margin:30px 0 20px}
.module-home2ColLinks .icon-block{padding:12px 20px}
.icon-block--faq{color:#fff;font-size:24px;background:#972839;}
.block-home2ColLinks--header{background:#a83244}
.block-home2ColLinks--header h2{display:inline-block;margin:0;font-family:montserrat, sans-serif;font-weight:300;padding:0 15px;text-transform:uppercase;color:#fff;font-size:24px}
.block-home2ColLinks--content{background:#f5f5f5;padding:30px 15px;min-height:270px}
.block-home2ColLinks--content li{color:#cccccc}
.block-home2ColLinks--content li a{color:#972839;display:block;margin-bottom:10px}
/*******BREADCRUMBS*******/
.breadcrumbs {background:#f3ecec; padding:10px}
.breadcrumbs nav ul {list-style:none; padding:0}
.breadcrumbs nav li {display:inline}
.breadcrumbs nav li a {display:inline-block; font-size:13px; color:#972839}
.breadcrumbs nav li a:after {content:"\f105"; margin:0 10px;  font:300 9px FontAwesome; color:#333}
.breadcrumbs nav li:last-child a:after {content:""; display:none}
.print {color:#bd959b; font:12px montserratlight,sans-serif; text-transform:uppercase}

/*******SLIDERS*******/
.slider-main--content{margin:0 auto 25px}
.slider-main--contentSlide{position:relative}
.slider-main--contentCaption{padding:25px 15px;background:rgba(0,0,0,0.8);color:#fff;font-size:15px;position:absolute;right:0;top:50px;width:275px;top:50%;transform: translateY(-50%);}
.slider-main--contentCaption h2{font-size:15px;color:#a0bec1;margin:0 0 5px 0}
.js-slider-main--dots{text-align:center;margin-top:-50px;position:relative}
.js-slider-main--dots li{display:inline;list-style-type:none;margin:0 12px}
.js-slider-main--dots li button{display:inline-block;height:12px;width:12px;border-radius:50%;background:#eee;font-size:0;line-height:0;border:0}
.js-slider-main--dots li.slick-active button{background:#972839}

.js-slider-carouselMain--dots{text-align:center;margin-top:0px;position:relative}
.js-slider-carouselMain--dots li{display:inline;list-style-type:none;margin:0 12px}
.js-slider-carouselMain--dots li button{display:inline-block;height:12px;width:12px;border-radius:50%;background:#eee;font-size:0;line-height:0;border:0}
.js-slider-carouselMain--dots li.slick-active button{background:#972839}
/*******SIDEBAR*******/
.sidebar_main {background:#972839; padding-top:30px}
.sidebar_main h2 {font:24px "montserratlight",sans-serif; color:#fff; margin:0 0 35px; padding:0 20px; text-transform:uppercase}
.sidebar_main ul {list-style:none; padding:0; margin:0}
.sidebar_main li a {display:block; width:100%; font:14px "montserratlight",sans-serif; color:#fff; padding:20px; border-top:1px solid #fff}
.sidebar_main li a:hover,
.sidebar_main li a.active {background:#6b0f1d}

.sidebar_search {background:#f5f5f5; padding:15px 20px}
.sidebar_search h3 {margin:0 0 20px; font:16px "montserratlight", sans-serif}
.sidebar_search label, .form-label {font-size:14px; font-weight:500; display:block}
.form-label {margin-top:20px}
.sidebar_search input,
.sidebar_search select {width:100%; height:40px; margin-bottom:10px}
.sidebar_search input[type="submit"] {border:0; border-radius:3px; background:#545454; color:#fff; font-size:15px; font-weight:300; width:90px}

.form_select {position:relative; overflow:hidden; width:100%; margin-bottom:10px}
.form_select:after {content:"\f107"; font:300 9px FontAwesome; display:block; position:absolute; top:0; right:0; background:#cbcbcb; border-radius:3px; width:30px; height:40px; line-height:40px; text-align:center}
.form_select select {-webkit-appearance:none; width:120%; border:0; padding:5px}

.form_date.form_select {width:46.2%; display:inline-block; margin-right:10px}
.form_date.form_select:nth-of-type(3),
.form_date.form_select:nth-of-type(5) {margin-right:0}

.pager {margin:70px 0 90px}
.page-count {font-size:15px; margin-bottom:5px}
.pager-nav * {display:inline-block; font-size:15px; color:#972839}
.pager-nav a.disabled,
.pager-nav a.disabled i:before,
.pager-nav a.disabled i:after,
.pager-nav li>a.active {color:#aaa}
.pager-nav li>a {border:0; padding:7px}
.pager-nav ul {padding:0}
.pager-nav a {margin:5px}
.pager-nav a.pager_first {margin-right:15px}
.pager-nav a.pager_last {margin-left:15px}
.pager-nav a.pager_prev {margin-right:25px}
.pager-nav a.pager_next {margin-left:25px}

.update-stamp {font-size:13px; font-style:italic; margin-bottom:20px}

/*******NEWS*******/
.pl20 {padding-left:20px}
h1 {font:28px "montserratlight",sans-serif; color:#333; letter-spacing:1px; margin:30px 0}
.btn_read-more {background:#972839; color:#fff; font:12px "montserrat",sans-serif; text-transform:uppercase; padding:5px 10px; margin-bottom:-10px; display:inline-block; position:absolute; bottom:-2px; right:0}
.news-date {color:#777; font-size:13px}
.news-item h3 {color:#972839; font-size:16px; margin:5px 0 10px}
.news-item p {font-size:14px; line-height:1.65}
.news-item {border-bottom:1px solid #eee; position:relative; padding-bottom:20px; margin-bottom:10px}


/*******LISTING PAGE*******/


/*******SINGLE PAGE*******/


/*******FOOTER*******/
footer ul{margin:0;padding:0}
footer li{display:inline}
footer li a{display:inline-block;font-size:13px;color:#972839}
footer li:after{content:"|";color:#ccc;padding:0 3px 0 5px}
footer li:last-child:after{display:none}
.footer-top{background:#f9f9f9;padding:20px 0}
.footer-bottom{padding:20px 0}
.footer-bottom small{font-size:12px;text-align:right;display:block}


/*******RESPONSIVE*******/
@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {
}
@media only screen and (max-width : 768px) {
}
@media only screen and (max-width : 480px) {
}
