<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<toolboxes>
		<toolbox name="PageControls" config:flags="1">
			<sections>
				<add name="Login" config:flags="1">
					<tools>
						<add type="~/CustomControls/CustomLoginUserControl.ascx" title="CustomLoginUserControl" description="CustomLoginUserControl" name="CustomLoginUserControl" />
						<add type="~/CustomControls/GoogleAuthenticatorUserControl.ascx" title="GoogleAuthenticatorUserControl" description="GoogleAuthenticatorUserControl" name="GoogleAuthenticatorUserControl" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="PageLayouts" config:flags="1">
			<sections>
				<add title="Bootstrap grid widgets" name="BootstrapGrids">
					<tools>
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container" cssClass="sfL100" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/container.html" name="container" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-2+3+2+3+2" cssClass="sfL20_20_20_20_20" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-2+3+2+3+2.html" name="grid-2+3+2+3+2" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+3+3+3" cssClass="sfL25_25_25_25" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-3+3+3+3.html" name="grid-3+3+3+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+6+3" cssClass="sfL25_50_25" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-3+6+3.html" name="grid-3+6+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+9" cssClass="sfL25_75" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-3+9.html" name="grid-3+9" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+4+4" cssClass="sfL33_34_33" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-4+4+4.html" name="grid-4+4+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+8" cssClass="sfL33_67" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-4+8.html" name="grid-4+8" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-5+7" cssClass="sfL41_58" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-5+7.html" name="grid-5+7" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-6+6" cssClass="sfL50_50" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-6+6.html" name="grid-6+6" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-8+4" cssClass="sfL67_33" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-8+4.html" name="grid-8+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-9+3" cssClass="sfL75_25" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-9+3.html" name="grid-9+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-10+2" cssClass="sfL83_16" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-10+2.html" name="grid-10+2" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-12" cssClass="sfL100" layoutTemplate="~/App_Data/Sitefinity/WebsiteTemplates/AGC/App_Themes/AGC/BootstrapTemplates/grid-12.html" name="grid-12" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>